<!-- Loops through all comments for a post -->
{{#each comments as |comment|}}
<div class="postCard">
  <div class="postCardHeader">
    <div class="postCardTitle"></div>
    <div class="postCardDate"></div>
  </div>
  <div class="postCardBody">
    <p>{{content}}</p>
    <p>- {{user.username}} on {{format_date date_created}}</p>
  </div>
</div>
{{/each}}