{{#if posts.length}}
<div class="dashboardPosts">
{{#each posts as |post| }}
  <button class="btn btn-secondary btn-lg btn-block dashBtn"><a href="/edit-post/{{id}}"><span class="dashPost">{{title}}</span><span class="dashDate">{{format_date date_created}}</span></a></button>
  <!-- TODO - Create the edit post route -->
  <!-- TODO - Create the edit post page -->
{{/each}}
</div>
{{/if}}

  <p class="centered">
    <button class="btn btn-primary"><a href="/new-post">New Post</a></button>
  </p>