<div class="postCard">
  <div class="postCardHeader">
    <div class="postCardTitle">Edit Post</div>
  </div>
  <div class="postCardBody">
    <form id="newPost" class="comment-form">
    <p>Title</p>
    <input id="newPostTitle" class="form-control" value="{{title}}" />
    <p>Content</p>
    <textarea id="newPostText" class="form-control" rows="3">{{content}}</textarea>
    <p class="centered">
      <button type="submit" class="btn btn-primary">Update Post</button>
      <button type="submit" class="btn btn-primary">Delete</button>
    </p>
    </form>
  </div>
</div>

<!--<script src="../js/newPost.js"></script> TODO - Update script link -->