<div class="postCard">
  <div class="postCardHeader">
    <div class="postCardTitle">Create New Post</div>
  </div>
  <div class="postCardBody">
    <form id="newPost" class="comment-form">
    <p>Title</p>
    <input id="newPostTitle" class="form-control" />
    <p>Content</p>
    <textarea id="newPostText" class="form-control" rows="3"></textarea>
    <p class="centered">
      <button type="submit" class="btn btn-primary">Create</button>
    </p>
    </form>
  </div>
</div>

<script src="../js/newPost.js"></script>