<!-- Show the blog post -->
{{> postcard}}

<!-- Show the add comment card if the user is logged in -->
{{#if logged_in}}
<div class="postCard">
  <div class="postCardHeader">
    Leave a Comment
  </div>
  <div class="postCardBody">
    <form class="comment-form">
      <textarea id="commentText" class="form-control" rows="3"></textarea>
      <p class="centered">
        <button type="submit" class="btn btn-primary">Submit</button>
      </p>
    </form>
  </div>
</div>
{{/if}}

<!-- Show the comments for this post -->
{{> comment}}

<!-- Only run the comment script if the user is logged in -->
{{#if logged_in}}
  <script src="../js/comment.js"></script>
{{/if}}