{{> postcard}}

{{#if logged_in}}
<div class="postCard">
  <div class="postCardHeader">
    Leave a Comment
  </div>
  <div class="postCardBody">
    <form class="comment-form">
      <textarea id="commentText" class="form-control" rows="3"></textarea>
      <p class="centered">
        <button type="submit" class="btn btn-primary">Submit</button>
      </p>
    </form>
  </div>
</div>
{{/if}}

{{> comment}}

{{#if logged_in}}
  <script src="../js/comment.js"></script>
{{/if}}