header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

header {
  padding-left: 35px;
  background-color: #2d3e50;
  color: #fff;
}

header h1 {
  color: #2d3e50;
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 10px;
}

.word {
  white-space: nowrap;
}

.keyboard {
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px #ccc, 2px 2px #999, 3px 3px #666, 4px 4px #333, 5px 5px 3px #222;
  width: 45px;
  text-align: center;
  margin-bottom: 10px;
}

nav {
  font-size: 25px;
  padding: 10px 0;
}

nav button {
  margin-right: 50px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #2c9acd;
  text-decoration: none;
  font-size: 100%;
}

.no-button a {
  color: #2c9acd;
}

.no-button a:hover {
  color: #5fcdff;
  text-decoration: underline;
}

.postCard {
  border: 3px solid #2d3e50;
  margin-bottom: 20px;
}

.postCard a {
  color: #fff;
}

.postCardHeader {
  background-color: #2d3e50;
  color: #fff;
  padding: 15px;
  height: 50px;
  line-height: 15px;
}

.postCardTitle {
  float: left;
  font-size: 25px;
  font-weight: bold;
}

.postCardDate {
  float: right;
  vertical-align:text-bottom;
}

.postCardBody {
  padding: 15px;
}

.postCardBody p {
  margin-bottom: 0;
}

.dashboardPosts a {
  color: #000;
}

.dashPost {
  float: left;
  font-weight: bold;
  font-size: larger;
}

.dashDate {
  float: right;
}

.dashBtn {
  margin-bottom: 10px;
}

.centered {
  text-align: center;
}

.form-control {
  width: 100%;
}

textarea {
  resize: none;
}